<div class="card">
  <%= link_to image_tag(article.images[0], class: :card__img ), article_path(article.id)%>
    <div class="card__body">
      <%= link_to article.country, article_path(article.id), class: :card__title%>
      <p class="card__summary">
        <%= article.nice.name %>
      </p>
      <%= link_to "by #{article.user.nickname}", user_path(article.user.id), class: :card__user %>
    </div>
</div>